<span>{{ site.data.docs.sections }}</span>
<div class="mdl-layout__drawer">
  {% for area in site.data.docs %}
    {% for section in area.sections %}
      <span class="mdl-layout-title">{{ section }}</span>
      <nav class="mdl-navigation">
        {% for item in site.docs %}
          {% if item.section == section %}
            <a class="mdl-navigation__link" href="{{ item.permalink  | prepend: site.baseurl }}">{{ item.title }}</a>
          {% endif %}
        {% endfor %}
      </nav>
    {% endfor %}
  {% endfor %}
</div>
