{% assign url = 'http://api.multinexo.com/v1/' %}
{% if page.partOf == 'company' %}
{% assign url = url | append: 'company/{company_id}/' %}
{% elsif page.partOf == 'user' %}
{% assign url = url | append: 'users/{user_id}/' %}
{% elsif page.partOf %}
{% assign url = url %}
{% endif %}
<section><code class="get">GET</code>{{ url }}{{ page.resource }}</section>

<h4>Attributes</h4>
<section>
    <dl>
      {% for attribute in page.attributes %}
        <dt>
            {{ attribute.name }}
        </dt>
        <dd>
          <code>{{ attribute.crud | default: 'create,read,update' }}</code>
            {% if attribute.valuetype %} <code>{{ attribute.valuetype }}</code> {% endif %}
            {% if attribute.observation %} <code>{{ attribute.observation }}</code> {% endif %}
        </dd>
      {% endfor %}
    </dl>
</section>

{% if page.relationships %}
<h4>Relationships</h4>
<section>
  <dl>
    {% for relationship in page.relationships %}
        <dt>
            <a href="/docs/resources/{{ relationship.resource }}/">
              {{ relationship.resource }}
            </a>
        </dt>
        <dd>
          {% if relationship.hasMany %}
            <code>has many</code>
          {% else %}
            <code>has one</code>
          {% endif %}
        </dd>
    {% endfor %}
  </dl>
</section>
{% endif %}

{% if page.filters %}
<h4>Filters</h4>
<section>
  <dl>
    {% for filter in page.filters %}
      <dt>
        {{ filter.attribute }}
      </dt>
      <dd>
        <code>{{ filter.type | default: 'equals' }}</code>
        {% if filter.multivalue %}
          <code>se acepta varios valores, separados por coma</code>
        {% else %}
          <code>no acepta varios valores</code>
        {% endif %}
      </dd>
    {% endfor %}
  </dl>
</section>
{% endif %}

<h4>Entry points</h4>
<section>
  <p>
    <code class="get">GET</code>
    <code class="put">PUT</code>
    {{ url }}{{ page.resource }}/&#123{{ page.resource }}_id&#125
  </p>
  {% if page.entry_points.name %}
    <p><code class="get">GET</code>{{ url }}{{ page.entry_points.name }}/&#123{{ page.entry_points.name }}_id&#125/{{ page.resource }}</p>
  {% endif %}
  <p>
    <code class="post">POST</code>
    {{ url }}{{ page.resource }}/
  </p>
</section>