{% assign url = 'http://api.multinexo.com/v1/' %}
{% if page.partOf == 'company' %}
{% assign url = url | append: 'company/{company_id}/' %}
{% elsif page.partOf == 'user' %}
{% assign url = url | append: 'users/{user_id}/' %}
{% elsif page.partOf %}
{% assign url = url %}
{% endif %}
<section>{% method_tag get %}{{ url }}{{ page.resource }}</section>

<h4>Attributes</h4>
<section>
    <dl>
      {% for attribute in page.attributes %}
        <dt>
            {{ attribute.name }}
        </dt>
        <dd>
          <div>
            <span class="code">{{ attribute.crud | default: 'create, read, update' }}</span>

            {% if attribute.valuetype %}
              <span class="code">{{ attribute.valuetype }}</span>
            {% endif %}

            {% if attribute.observation %}
              <span class="code" style="word-wrap: word-break">{{ attribute.observation }}</span>
            {% endif %}
          </div>
        </dd>
      {% endfor %}
    </dl>
</section>

{% if page.relationships %}
<h4>Relationships</h4>
<section>
  <dl>
    {% for relationship in page.relationships %}
        <dt>
            <a href="/docs/resources/{{ relationship.resource }}/">
              {{ relationship.resource }}
            </a>
        </dt>
        <dd>
          <div>
            {% if relationship.hasMany %}
              <span class="code">has many</span>
            {% else %}
              <span class="code">has one</span>
            {% endif %}
          </div>
        </dd>
    {% endfor %}
  </dl>
</section>
{% endif %}

{% if page.filters %}
<h4>Filters</h4>
<section>
  <dl>
    {% for filter in page.filters %}
      <dt>
        {{ filter.attribute }}
      </dt>
      <dd>
        <div>
          <span class="code">{{ filter.type | default: 'equals' }}</span>
          {% if filter.multivalue %}
            <span class="code">se acepta varios valores, separados por coma</span>
          {% else %}
            <span class="code">no acepta varios valores</span>
          {% endif %}
        </div>
      </dd>
    {% endfor %}
  </dl>
</section>
{% endif %}

<h4>JSON-API Entry points</h4>
<section>
  <p>
    {% if (page.entry_points.methods.delete == null) or page.entry_points.methods.delete %}
      {% method_tag delete %}
    {% endif %}
    {% if (page.entry_points.methods.put == null) or page.entry_points.methods.put %}
      {% method_tag put %}
    {% endif %}
    {% if (page.entry_points.methods.get == null) or page.entry_points.methods.get %}
      {% method_tag get %}
      {{ url }}{{ page.resource }}/&#123{{ page.resource }}_id&#125
    {% endif %}
  </p>
  {% if page.entry_points.name %}
    <p>{% method_tag get %}{{ url }}{{ page.entry_points.name }}/&#123{{ page.entry_points.name }}_id&#125/{{ page.resource }}</p>
  {% endif %}
  <p>
    {% if (page.entry_points.methods.post == null) or page.entry_points.methods.post %}
      <span class="post">POST</span>
      {{ url }}{{ page.resource }}/
    {% endif %}
  </p>
</section>
