<header class="mdl-layout__header layout-row layout-align-space-between-center mdl-color--white mdl-color-text--grey-700">
    <div class="mdl-layout__header-row flex">
        <div class="logo-header">
            <a href="/"><img src="{{ site.url }}/img/multinexo_logotype_colored.svg" alt=""></a>
        </div>
        <nav class="mdl-navigation mdl-layout--large-screen-only links">
          <a href="{{ "/docs/resources/products/" | prepend: site.baseurl }}">API</a>
          <a href="/styleguide/intro.html">Guía de estilo</a>
          <!--<a href="{{ site.posts.first.url | prepend: site.baseurl }}">Blog</a>-->
        </nav>
        <div class="mdl-layout-spacer"></div>
    </div>
    <nav class="mdl-navigation mdl-layout--large-screen-only flex layout-row layout-align-end">
      <form id="search-form">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="search-box" placeholder="Buscar...">
            <label class="mdl-textfield__label" for="search-box">Search</label>
          </div>
          <label id="search-label" class="mdl-button mdl-js-button mdl-button--icon mdl-color--grey-500" for="search-box">
            <i class="material-icons search-icon">search</i>
          </label>
        </div>
      </form>
    </nav>
</header>
